
.todo-container{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  text-align: center;
  background-color: #523e3e;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  justify-content: center;
  margin-left: 500px;
}

.todo-input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.add-btn {
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #441e0f;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.todo-item {
  background: #221b1b;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(0, 0%, 87%);
}


.delete-btn {
  background-color: #357e53;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #441e0f;
}

.edit-btn{
  background-color: #441e0f ;
}

.login-outer-div{
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background-color: rgb(38, 72, 77);
    text-align: center;
    font-family: Arial;
    margin-left: 500px;
}

.loginButton{
  align-items: center;
}

body{
  background-color: #ddd;
}
.error{
  color: rgba(221, 27, 27, 0.856);
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}

.cancel {
  background: #ccc;
}

.confirm {
  background: green;
  color: white;
}

.message{
  color:#000000;
}

/* Simple animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
